/*style.css*/

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.minilogo {
  position: absolute;
  left: 40vw;
  top: -5vh;
}
.back {
  position: fixed;
  left: 8vw;
  top: 15vh;
  text-decoration: underline;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.back:hover {
  color: #ae784d;
  font-size: 27px;
  font-weight: bold;
}
table {
  position: absolute;
  top: 32vh;
  font-size: 25px;
  border-collapse: collapse;
  background-color: rgba(23, 23, 23, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
td,
th {
  padding: 8px 100px;
  text-align: left;
}
thead {
  background-color: #ae784d;
}
tr:nth-child(even) {
  background-color: rgba(37, 37, 37, 0.447);
}

.hda {
    position: absolute;
    top: 10.7vh;
    right: 12vw;
    font-weight: bold;
    font-size: 25px;
}