body {
  background-image: url("/img/back.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 24px;
}

.point {
  position: absolute;
  text-decoration: underline;
  right: 40px;
  top: 150px;
}
#score {
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 240px;
}
#highscoreDisplay {
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 280px;
}
.break {
  position: absolute;
  text-decoration: underline;
  right: 50px;
  top: 350px;
}
#pauseButton {
  position: absolute;
  right: 50px;
  top: 480px;
  width: 105px;
  height: 30px;
}
#pauseText {
  position: absolute;
  right: 50px;
  top: 420px;
}
#resetButton {
  position: absolute;
  right: 50px;
  top: 330px;
}
.control {
  position: absolute;
  left: 50px;
  top: 150px;
}
.titel {
  position: absolute;
  left: 50px;
  top: 00px;
  font-size: 25px;
}
.background-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
